name: Build and deploy to S3

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build application with pnpm
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 24.11.1
      - run: npm install -g pnpm@10.24.0
      - run: pnpm i --frozen-lockfile --strict-peer-dependencies
        env:
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
          GATSBY_PASSWORD: ${{ secrets.GATSBY_PASSWORD }}
      - run: |
          touch .env.production
          echo CONTENTFUL_ACCESS_TOKEN=${{ secrets.CONTENTFUL_ACCESS_TOKEN }} >> .env.production
          echo GATSBY_PASSWORD=${{ secrets.GATSBY_PASSWORD }} >> .env.production
      - run: pnpm build
      - run: rm .env.production
      - name: Configure AWS credentials for test account
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::781928496898:role/aws-github-prod
          aws-region: eu-west-2
      - name: Copy files to the website with the AWS CLI
        run: |
          aws s3 sync public s3://vanessa-sangiorgio-portfolio
      - name: Configure AWS credentials for production account
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::749329441554:role/aws-github-prod
          aws-region: eu-west-2
      - name: Copy files to the production website with the AWS CLI
        run: |
          aws s3 sync public s3://vanessasangiorgio.com
      - name: Invalidate CloudFront cache for www
        run: |
          aws cloudfront create-invalidation --distribution-id E1N737I6PF2XLH --paths "/*"
      - name: Invalidate CloudFront cache for non-www
        run: |
          aws cloudfront create-invalidation --distribution-id E1P5SFLJWXACV0 --paths "/*"
